doctype 5
html
	head
		meta(charset="utf-8")
		title= "T"
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='frameworks/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='frameworks/tipsy/src/stylesheets/tipsy.css')
		link(rel='stylesheet', href='/stylesheets/MyFontsWebfontsKit.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='/javascripts/jquery-1.10.0.min.js')
		script(type='text/javascript', src='frameworks/bootstrap/js/bootstrap.min.js')
		script(type='text/javascript', src='frameworks/tipsy/src/javascripts/jquery.tipsy.js')
		script(type='text/javascript', src='javascripts/parsley/i18n/messages.et.js')
		script(type='text/javascript', src='javascripts/parsley/dist/parsley.min.js')
		script(type='text/javascript', src='https://www.google.com/jsapi')
		script(type='text/javascript', src='/javascripts/script.js')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1')
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
	body#body.
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		ga('create', 'UA-41217528-2', 'e-451.herokuapp.com');
		ga('send', 'pageview');
		
		</script>
	block content