body#body {
  background-color: whiteSmoke;
}
p {
  margin-bottom: 10px;
}
#main {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  margin: 20px auto 0 auto;
  padding: 10px;
}
#send {
  padding: 10px;
  width: 200px;
  border-radius: 3px;
  border: none;
  background-color: #f15a24;
  color: #fff;
  margin-top: 20px;
}
::selection {
  background: #999;
}
