body#body
	background-color: whiteSmoke
	font-family: BandaRegular !important
	color: #333
	margin: 10px;

p 
	margin-bottom: 10px
	
a
	color: #F15A24

strong 
	font-family: BandaSemibold-SemiBold !important

#main
	margin-top: 20px
	width: 100%
	max-width: 500px
	margin 20px auto 0 auto
	
#send
	padding: 10px
	width: 200px
	border-radius: 3px
	border: none
	background-color: #F15A24
	color: white
	margin-top: 20px
	
form>p>input,
form>p>select,
form>p>textarea
	width: 95%
	max-width: 500px;
	
::selection
	background: #999
	
	
.tipsy-inner 
	max-width: 400px
	
.parsley-error 
	background-color: #EBCCD1 !important
	border: 1px solid #900 !important
	
.required {
	font-family: BandaSemibold-SemiBold !important
}